<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">

    <listeners>
        <listener class-name="com.uat.automation.common.MethodListener" />
        <listener class-name="com.uat.automation.common.RetryListener" />
    </listeners>

    <test name = "trigger events automated">
        <classes>
            <class name = "com.uat.automation.testcase.analytics.common.HomePageTest"></class>
            <class name = "com.uat.automation.testcase.analytics.common.PatentsListPageTest"></class>
        </classes>

    </test>


</suite>